body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./img/bg-com.jpg);
}

.main-btn {
  background: #ff5650;
  color: #fff !important;
}